.Shopping-cart{
    width: 100%;
}
.Shopping-cart {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.Shopping-cart-new a{
  color: white;
}
.Shopping-cart-itemsList {
}

.Shopping-cart-itemDetails {
  flex: 2 2 100%;
}
.Shopping-cart-itemsArea{
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;

}