.Items-list{
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
    background-color: lightblue;
    height: 100%;

}
.Items-list > li {
    min-height: 42px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;

}
.Items-list > li >*{
    flex: 1 1 auto;
}
.Items-list > li:hover{
    background: #dddddd;

}